* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: #2e6fe7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.converter {
    background: #f4f4f4;
    border-radius: 20px;
    padding: 44px 24px 23px;
    width: 375px;
}

.logo {
    width: 120px;
    display: block;
    margin: 0 auto 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

select, 
input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    appearance: none;
    
}

.convertButton {
    background: #258dc9;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.convertButton:hover {
    background: #2fc9bc;
}

.result {
    margin-top: 20px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    appearance: none;
}

.currencyFromBox,
.currencyToBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.currencyFromIcon,
.currencyToIcon {
    width: 40px;
    height: 40px;
    drop-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.currencyFromName,
.currencyToName {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

.currencyFromValueBox,
.currencyToValueBox {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.arrow {
    display: block;
    margin: 15px auto;
    width: 20px;
}
